/correctProof.asy.log
/correctProof1.pdf
/correctProof2.pdf
/correctProof3.pdf
/correctProof4.pdf
/correctProof5.pdf
/correctProof6.pdf
/correctProof7.pdf
/correctProof8.pdf
/correctProof9.pdf
/densemaze.pdf
/diagonal.asy.log
/diagonal.pdf
/diffCase.asy.log
/diffCase.pdf
/jordan.aux
/jordan.texn
/jordanDegenerate1.pdf
/jordanDegenerates.asy.log
/jordanDegenerates.pdf
/jordanHilbert.asy.log
/jordanHilbert.pdf
/maze.asy.log
/maze.pdf
/navigation1.asy.log
/quad.asy.log
/quadConcave.pdf
/quadDiff1.pdf
/quadDiff2.pdf
/quadDiff3.pdf
/quadUnion1.pdf
/quadUnion2.pdf
/quadUnion3.pdf
/shorten1.asy.log
/shorten1.pdf
/shorten2.asy.log
/shorten2.pdf
/unionCase.asy.log
/unionCase.pdf
/veblenCounter1.pdf
/veblenCounter2.pdf
/veblenCounter3.pdf
/veblenCounter4.pdf
/veblenCounter5.pdf
/veblenCounter6.pdf
/veblenCounter7.pdf
/veblenCounters.asy.log
/veblenCounters.pdf
/veblenMainCounter.asy.log
