/.gitignore
/.gitignore
/FindingAEH.asy.log
/FindingAEH.pdf
/Five.asy.log
/Five.pdf
/Four.asy.log
/Four.pdf
/FourAlt.asy.log
/FourAlt.pdf
/FourPossibilities.asy.log
/FourPossibilities.pdf
/OuterPasch.asy.log
/OuterPasch.pdf
/Three.asy.log
/Three.pdf
/group2.aux
/group2eval.aux
/group2eval.log
/three.asy.log
