/ChangeTriangle1.pdf
/ChangeTriangle2.pdf
/ChangeTriangle3.pdf
/Context.asy.log
/Context.pdf
/ContextChange.asy.log
/ContextChange.pdf
/ContextChangeTriangle.asy.log
/ContextChangeTriangle.pdf
/ContextInitialiseCounter.asy.log
/ContextInitialiseCounter.pdf
/Crossing1.pdf
/Crossing2.pdf
/Crossing3.pdf
/Crossing4.pdf
/Crossing5.pdf
/Crossing6.pdf
/Crossing7.pdf
/Crossing8.pdf
/CrossingCases.pdf
/CrossingContext.pdf
/CrossingVertex.asy.log
/CrossingVertex.pdf
/CrossingWellDefined.pdf
/IH3CaseSplit.pdf
/ParityProof1.pdf
/ParityProof2.pdf
/ParityProof3.pdf
/ParityProof4.pdf
/ParityProof5.pdf
/ParityProof6.pdf
/ParityProofInformalDiagram.pdf
/Theorem.pdf
/baseCase.pdf
/changeTriangle.pdf
/correctProof.pdf
/correctProof1.pdf
/correctProof2.pdf
/correctProof3.pdf
/correctProof4.pdf
/correctProof5.pdf
/correctProof6.pdf
/crossingCases.pdf
/crossingContext.pdf
/crossingDifficult.pdf
/crossingDifficult1.pdf
/crossingDifficult2.pdf
/crossingDifficult3.pdf
/crossingDifficult4.pdf
/inTriangle1.pdf
/inTriangle2.pdf
/inTriangleTheorems.pdf
/in_triangle1.pdf
/in_triangle2.pdf
/intriangle1.pdf
/jordanVerification.aux
/outTriangle1.pdf
/outTriangle2.pdf
/out_triangle1.pdf
/out_triangle2.pdf
/parityProof1.pdf
/parityProof2.pdf
/parityProof3.pdf
/parityProof4.pdf
/parityProof5.pdf
/parityProof6.pdf
/rayCast1.pdf
/triCutHalfPlane.pdf
/triangleDefs.pdf
/tricut1.pdf
/tricut3.pdf
