/Infinity.asy
/Infinity.asy.log
/Infinity.eps
/Infinity.pdf
/InfinityFull.pdf
/InfinityStep0.pdf
/InfinityStep1.pdf
/InfinityStep2.pdf
/InfinityStep3.pdf
/InfinitySteps.pdf
/Tetra.asy.log
/Tetra.eps
/Tetra.pdf
/Tetra2.asy
/linearOrder.aux
/linearOrder.dvi
/linearOrder.log
/linearOrder.texn
