/BasicTreeExample.asy.log
/BasicTreeExample.pdf
/BasicTreeSimp.asy.log
/BasicTreeSimp.pdf
/DataFlow.eps
/FullSimpTree1.asy.log
/FullSimpTree1.pdf
/FullSimpTree2.asy.log
/FullSimpTree2.pdf
/FullSimpTree3.asy.log
/FullSimpTree3.eps
/FullSimpTree3.pdf
/FullSimpTree4.asy.log
/FullSimpTree4.pdf
/automation.aux
/automation.log
